[{sasl,[{errlog_type,error}]},
 {ball_of_yarn,
     [{'Elixir.BallOfYarn.Endpoint',
          [{url,[{host,<<"example.com">>},{port,80}]},
           {root,<<"/home/ckincanon/code/ball-of-yarn">>},
           {secret_key_base,
               <<"PTvgw0PdsjSU5nsMbriCPpcF2tVc1cD0CwGm0n8MNvduOhQqHz5feZwLLmmtNxFb">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.BallOfYarn.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true}]},
      {'Elixir.BallOfYarn.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"zapps">>},
           {password,<<"13371251">>},
           {database,<<"ball_of_yarn_prod">>},
           {hostname,<<"45.55.63.53">>},
           {port,5432},
           {pool_size,20}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,[{generators,[{migration,true},{binary_id,false}]}]}].
